*.ini
livro_texto/Estrut.de.Dados.e.Seus.Algoritmos.2.Ed.1994.pdf
material_complementar/Lógica_de_Programação_e_Estrutura_de_Dados.pdf
video_aulas/Estrutura_de_Dados_Aula_19.webm
video_aulas/Estrutura_de_Dados_Aula_20.webm
video_aulas/Estrutura_de_Dados_Aula_33.webm
video_aulas/Estrutura_de_Dados_Aula_35.webm
video_aulas/Estrutura_de_Dados_Aula_36.webm
video_aulas/Estrutura_de_Dados_Aula_05.mp4
video_aulas/Estrutura_de_Dados_Aula_05.webm
video_aulas/Estrutura_de_Dados_Aula_10.webm
video_aulas/Estrutura_de_Dados_Aula_17.mp4
video_aulas/Estrutura_de_Dados_Aula_17.webm
video_aulas/Estrutura_de_Dados_Aula_18.mp4
video_aulas/Estrutura_de_Dados_Aula_18.webm
